<!DOCTYPE html>
<html>

    <head>
        <title>Capstone</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
    </head>

    <div class="row">
        <div class="column side"></div>
        <div class="column middle">
            <div class="flex-container">
            <div class="flex-container-vertical">
                <h3>
                    <center>
                        <b>CONSENT TO TAKE PART IN A RESEARCH STUDY</b>
                    </center>
                </h3>
                <br>
                <b>TITLE OF STUDY: </b>Novel Approach to Clinical Vignette Surveys
                <br>
                <b>Principal Investigator: </b>John Collins, MD
                <br>
                <b>Co-Investigators: </b>Laryssa Patti, MD Jonathan McCoy, MD Temitope Ali
                <br>
                <br>
                <div class="container-text">
                    This consent form is part of an informed consent process for a research study and it will provide information 
                    that will help you decide whether you want to take part in this study.  It is your choice to take part or not. 
                    After all of your questions have been answered and you wish to take part in the research study, you will be 
                    asked to sign this consent form by entering your provided alphanumeric code. You will be given a copy of the 
                    signed form to keep. Your alternative to taking part in the research is not to take part in it.
                </div>
                <br>
                <b>Who is conducting this research study and what is it about?</b>
                <br>
                <div class="container-text">
                    You are being asked to take part in research conducted by Dr. John Collins who is an attending physician in 
                    the Dept. of Emergency Medicine. This study is primarily co-investigated by Temitope Ali who is a biomedical 
                    sciences student. The purpose of this study is to observe the effect of a novel survey format on participant 
                    responses. Questions from the survey itself are based on another study where the primary goal is to collect 
                    data for triage decisions. Because of this, the data you provide may also help improve knowledge about hospital 
                    admission decision making.
                </div>
                <br>
                <b>What will I be asked to do if I take part?</b>
                <br>
                <div class="container-text">
                    The survey will take about 10 minutes to complete. We anticipate 259 subjects will take part in the study. 
                </div>
                <br>
                <b>What are the risks and/or discomforts I might experience if I take part in the study?</b>
                <br>
                <div class="container-text">
                    Risks are minimal but include loss of confidentiality. Breach of confidentiality is a risk of harm, but a 
                    data security plan is in place to minimize such a risk. Also, some questions may make you feel uncomfortable. 
                    If that happens, you can leave that question unanswered or withdraw from the study altogether. 
                </div>
                <br>
                <b>Are there any benefits to me if I choose to take part in this study?</b>
                <br>
                <div class="container-text">
                    There are no direct benefits to you for taking part in this research. You will be contributing to knowledge 
                    about survey design methods, while also providing information that may help inform the Department of Emergency 
                    Medicine (EM), Department of Family Medicine and Community Health (FM), Department of Medicine (IM), and the 
                    Division of Pulmonary and Critical Care Medicine (PCC) hospital admission decisions by identifying patterns 
                    and differences in hospital admission decision making. 
                </div>
                <br>
                <b>Will I be paid to take part in this study?</b>
                <br>
                <div class="container-text">
                    You will not be paid to take part in this study.
                </div>
                <br>
                <b>How will information about me be kept private or confidential?</b>
                <br>
                <div class="container-text">
                    All efforts will be made to keep your responses confidential, but total confidentiality cannot be guaranteed. 
                    We will use a survey website created for this study to collect and forward your responses to us. We will not 
                    know your IP address when you respond to the online research. We will ask you for demographical information 
                    at the start of this survey. Your responses will be assigned and stored with another randomly generated 
                    alphanumeric code so others will not know which responses are yours. Once data analysis is complete and study 
                    findings are professionally published, your identifiable information will be destroyed so no link will exist 
                    between your identity and your responses.
                    <br>
                    <br> 
                    No information that can identify you will appear in any professional presentation or publication.  
                </div>
                <br>
                <b>What will happen to information I provide in the research after the study is over?</b>
                <br>
                <div class="container-text">
                    After information that could identify you has been removed, de-identified responses may be used by or 
                    distributed to investigators for other research without obtaining additional informed consent from you.
                </div>
                <br>
                <b>What will happen if I do not want to take part or decide later not to stay in the study?</b>
                <br>
                <div class="container-text">
                    Your participation is voluntary. If you choose to take part now, you may change your mind and withdraw later. 
                    You may also withdraw your consent for use of data you submit, but you must do this in writing to Temitope 
                    Ali or the PI Dr. John Collins.
                </div>
                <br>
                <b>Who can I call if I have questions?</b>
                <br>
                <div class="container-text">
                    If you have questions about taking part in this study, you can contact co-investigator Temitope Ali at 
                    <b>toa17@sas.rutgers.edu</b>. We recommend withdraw requests to be sent to this email first.
                    <br>
                    <br>
                    You can also contact the PI:
                    <br>
                    <br>
                    <b>John Collins, MD</b><br>
                    <b>Assistant Professor Department of Emergency Medicine</b><br>
                    <b>Rutgers - Robert Wood Johnson Medical School</b><br>
                    <b>One Robert Wood Johnson Place</b><br>
                    <b>MEB 104</b><br>
                    <b>New Brunswick, NJ 08901</b><br>
                    <b>Tel: 732-235-8717</b><br>
                    <b>Fax: 732-235-7379</b><br>
                    <b>collinjj@rwjms.rutgers.edu</b><br>
                    <br>
                    If you have questions about your rights as a research subject, you can call the IRB Director at:
                    <br>
                    <b>New Brunswick/Piscataway HealthSci IRB (732)235-9806<b> 
                </div>
                <br>
                <div class="container-text">
                    Please copy and print out this consent form if you would like a copy of it for your files.
                    <br>
                    <br>
                    If you do not wish to take part in the research, close this website address. If you wish take part in the 
                    research, follow the directions below: 
                    <br>
                    By beginning this research, I acknowledge that I am 18 years of age or older and have read and understand 
                    the information. I agree to take part in the research, with the knowledge that I am free to withdraw my 
                    participation in the research without penalty. 
                    <br>
                    <br>
                    Enter your provided alphanumeric code below to confirm your agreement to take part in the research.
                </div>
            </div>
            </div>
            <div class="flex-container">
                <form action="users#create" method="POST" autocomplete="off">
                    <div class="form-actions">
                        <input type="text" name="user_id" class="form-control">
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-default">Login</button><br>
                    </div>
                </form>
            </div>

            <div class="flex-container">
                <div class="flex-container-vertical">
                    <% flash.each do |key, value| %>
                        <div class="alert alert-<%= key %>"><%= value %></div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="column side"></div>
    </div>

</html>
