<%= form_with(model: optional, local: true) do |form| %>

  <p><textarea name="response" maxlength="1000" rows="5" placeholder="Character limit 1000"></textarea></p>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
