<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    You have finished the survey.

  </head>

  <body>
    <%= yield %>
  </body>
</html>
