<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    You have finished the survey.

    <% if @current_user.is_gamified %>
    You earned <%= @user_point_total %> points.
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
